# Ignore everything
*

# But not these files...
!.gitignore
!exp-coarsening-1.py
!exp-coarsening-2.py
!exp-coarsening-3.py
!exp-coarsening-4.py
!exp-coarsening-5.py
!exp-coarsening-6.py
!exp-coarsening-7.py
!exp-coarsening-8.py
!exp-data.py
!exp-summary-levels-edges.py
!exp-summary-levels-vertices.py
!exp-summary-rf-vertices.py
!exp-summary-rf-edges.py
!exp-summary-vertices-time.py

# ...even if they are in subdirectories
# !*/
