# Ignore everything
*

# But not these files...
!.gitignore
!bipartite-1.json
!bipartite-2.json
!bipartite-3.json
!kpartite.json
!heterogeneous.json
!bipartite-time-ncol.json
!bipartite-time-npy.json
