# Ignore everything
*

# But not these files...
!.gitignore
!exp-coarsening-1.py
!exp-coarsening-2.py
!exp-coarsening-3.py
!exp-coarsening-4.py
!exp-coarsening-5.py
!exp-coarsening-6.py
!exp-coarsening-7.py
!exp-coarsening-8.py
!exp-data.py
!exp-summary-1.py
!exp-summary-2.py
!exp-summary-3.py
!exp-summary-4.py
!exp-summary-5.py
!exp-summary-6.py
!exp-summary-7.py
!exp-summary-8.py

# ...even if they are in subdirectories
# !*/
