# Ignore everything
*

# But not these files...
!.gitignore
!img_bnoc_bipartite_1_layout_1.png
!img_bnoc_bipartite_1_layout_2.png
!img_bnoc_bipartite_2.png
!img_bnoc_bipartite_3.png
!img_bnoc_kpartite.png
!img_bnoc_heterogeneous.png
